@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  display: flexbox;
  
}
/* /////////////////HEADER////////////////////// */
header{
    background-color: #FFC017;
    border-bottom: 1px solid #191919;
    
}
h1{
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 90px;
}

.navBar{
    background-color: #FFC017;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #191919;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 300ms ease;
}
button{
    border: none;
    background-color: transparent;
    margin: 1.2em;
    transition: background-color 300ms ease;
}
nav button:last-child{
    background-color: #191919;
    color: white;
    border-radius: 50px;
    padding: 0.6em;
    width: 100px;
}
.titolo{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.titolo>div:first-child{
    width: 800px;
    height: 400px;
    padding-top: 3em;
}

.titolo>div>p{
    width: 80%;
    margin-top: 1.6em;
    margin-bottom: 1.6em;

}
.titolo>div>button{
    background-color: #191919;
    color: white;
    border-radius: 50px;
    padding: 0.6em;
    width: 150px;
    margin:0;
    margin-top:1em;
    margin-bottom: 1em;
}

.lettere{
    width: 500px;
    height: 400px;
    
    
    position: absolute;
    top: 0;
    right: 0;
    
}

/* /////////////////////MAIN/////////////////// */

.contenitore{ 
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.473);
  
}
.container{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.trending{
    display: flex;
    align-items: center;

}
.lavagna{
    display: flex;
    justify-content: space-between;
    align-items: center;
   flex-wrap: wrap;
}
  
.postit{
    width: 500px;
    height: 150px;
    position: relative;
  
    }
main>article>p{
    margin-top: 2em;
    margin-bottom: 1em;
}
.postit>span{
    font-size: xx-large;
    color:grey;
    position: absolute;
    left:-40px;
    
}
h6{
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style:normal;
  font-size: smaller;
  margin-top: 1em;
  
}
h4{
    font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style:normal;
  font-size: large;
  margin-top: 0.8em;
}
.postit>p{
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style:normal;
  font-size: smaller;
  color:rgb(146, 146, 146);
  margin-top: 1em;
}
.logos{
    display: flex;
    align-items: center;
    
}
.logos>img{
    border-radius: 50%;
    width: 7%;

}

.Discover{
    width: 430px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    align-items: center;
}
.news{
    display: flex;
    justify-content: center;
    gap: 300px;
    
    margin-top: 3em;
}
.colonne{
    display: flex;
   flex-direction: column;
}
.notizia{
    
    display: flex;
    
    margin-bottom: 2em;
   

}
.cornice{
    
    display: flex;
    justify-content: flex-end;
    width: 150px;
    object-fit: contain;
}
.foto{
  width: 100%;
}
.lettura{
    width: 500px;
    
}
h6>span{
    padding: 0.3em;
    width: 150px;
    height: 10px;
    background-color: #F2F3F3;
    border-radius: 10px;
}



h5{
    font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style:normal;
  font-size: medium;
  margin-top: 0.8em;
}
.stickers{
    width: 80%;
    margin: 0.5em;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    border-bottom: 1px solid grey;
    padding-bottom: 2em;
}

.stickers>div>p{
    padding:0.5em;
    border: 1px solid grey;
    width: 150px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
}
#fine>.btn>button{
    margin: 0;
    padding-top:10px ;
    background-color: white;
    color: gray;
}
#fine{
    display: flex;
    justify-content: center;
    width: 300px;
}
.btn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
align-content: space-around;
}
.navBarWhite
        {background-color: white;}

#btnGreen{
background-color: green;
color: white;
border-radius: 50px;
padding: 0.6em;
width: 100px;}
.btnWhite{
    background-color: white;
}